@model RecipesMVP.Models.Cuisine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cuisine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuisineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CuisineID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.CuisineID })
</p>
